extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue(style="margin-bottom: 10px; display: flex; align-items: center; justify-content: space-between;")
      a(href="/inquiricoes")
        img(src="/images/voltar.png" alt="Back" style="width: 40px; height: 40px; cursor: pointer; margin-right: 10px;")
      h1(style="flex-grow: 1;")
        span As Minhas Inquirições de Genere

    form(action="/inquiricoes/myInquiricoes", method="GET", style="display: inline-block; margin-left: 20px; margin-right: 10px;")
      input.w3-input.w3-border(style="width: 200px; display: inline-block; border-radius: 10px;", type="text", name="nome", placeholder="Procurar por nome", value=nome)
      
      .input-container(style="display: inline-block; margin-left: 15px;")
        input.w3-input.w3-border#localidade(style="width: 150px; border-radius: 10px;", type="text", name="localidade", placeholder="Localidade", value=localidade)

      .input-container(style="display: inline-block; margin-left: 15px;")
        label(for="dateInicial") Data Inicial
        input.w3-input.w3-border#dateInicial(style="width: 150px; border-radius: 10px;", type="date", name="dateInicial", placeholder="Start Date", value=dateInicial)
      
      .input-container(style="display: inline-block; margin-left: 15px;")
        label(for="dateFinal") Data Final
        input.w3-input.w3-border#dateFinal(style="width: 150px; border-radius: 10px;", type="date", name="dateFinal", placeholder="End Date", value=dateFinal)

      .input-container(style="display: inline-block; margin-left: 15px; vertical-align: top;")
        label(for="sort") Ordenar por:
        select.w3-select(name="sort", style="width: 150px; display: block; margin-top: 5px; border-radius: 10px;")
          option(value="", selected=(sort == '')) Selecione
          option(value="nome-asc", selected=(sort == 'nome-asc')) Nome (A-Z)
          option(value="nome-desc", selected=(sort == 'nome-desc')) Nome (Z-A)
          option(value="date-asc", selected=(sort == 'date-asc')) Data (Crescente)
          option(value="date-desc", selected=(sort == 'date-desc')) Data (Decrescente)
      
      button(type="submit", style="border: none; background: none; padding: 0;")
        img(src="/images/lupa.jpg" alt="Search" style="width: 40px; height: 40px; border-radius:50%; margin-left:5px;cursor: pointer;")
    a.w3-button.w3-blue.w3-round-large(href="/inquiricoes/myInquiricoes", style="display: inline-block; margin-left: 10px; border-radius: 10px;") Clear Filters
    select.w3-select(name="limit", onchange="window.location.href=this.value", style="display: inline-block; margin-left: 10px; width:80px; border-radius:10px;")
      option(value=`/inquiricoes/myInquiricoes?limit=5&page=${current}${nome ? '&nome=' + nome : ''}${localidade ? '&localidade=' + localidade : ''}${dateInicial ? '&dateInicial=' + dateInicial : ''}${dateFinal ? '&dateFinal=' + dateFinal : ''}${sort ? '&sort=' + sort : ''}`, selected=(limit == 5)) 5
      option(value=`/inquiricoes/myInquiricoes?limit=10&page=${current}${nome ? '&nome=' + nome : ''}${localidade ? '&localidade=' + localidade : ''}${dateInicial ? '&dateInicial=' + dateInicial : ''}${dateFinal ? '&dateFinal=' + dateFinal : ''}${sort ? '&sort=' + sort : ''}`, selected=(limit == 10)) 10
      option(value=`/inquiricoes/myInquiricoes?limit=20&page=${current}${nome ? '&nome=' + nome : ''}${localidade ? '&localidade=' + localidade : ''}${dateInicial ? '&dateInicial=' + dateInicial : ''}${dateFinal ? '&dateFinal=' + dateFinal : ''}${sort ? '&sort=' + sort : ''}`, selected=(limit == 20)) 20
      option(value=`/inquiricoes/myInquiricoes?limit=50&page=${current}${nome ? '&nome=' + nome : ''}${localidade ? '&localidade=' + localidade : ''}${dateInicial ? '&dateInicial=' + dateInicial : ''}${dateFinal ? '&dateFinal=' + dateFinal : ''}${sort ? '&sort=' + sort : ''}`, selected=(limit == 50)) 50
      option(value=`/inquiricoes/myInquiricoes?limit=Tudo&page=${current}${nome ? '&nome=' + nome : ''}${localidade ? '&localidade=' + localidade : ''}${dateInicial ? '&dateInicial=' + dateInicial : ''}${dateFinal ? '&dateFinal=' + dateFinal : ''}${sort ? '&sort=' + sort : ''}`, selected=(limit == 'Tudo')) Tudo

  .w3-container(style="margin-top:10px;")
    table.w3-table-all
      tr
        th Id
        th Data Produção Inicial
        th Data Produção Final
        th Título
      each inquiricao in lInquiricoes
        tr
          td
            a(href=`/inquiricoes/${inquiricao._id}`, onclick="localStorage.setItem('lastPage', window.location.href);")= inquiricao._id
          td= inquiricao.UnitDateInitial
          td= inquiricao.UnitDateFinal
          td= "Inquirição de genere de " + inquiricao.Name

  .w3-center
    .w3-bar
      if current > 1
        a.w3-button.w3-blue.w3-round-large(href=`/inquiricoes/myInquiricoes?page=${parseInt(current) - 1}&limit=${limit}&sort=${sort}&localidade=${localidade}`, style="border-radius: 10px;") « Anterior
      else
        a.w3-button.w3-disabled.w3-round-large(href="#", style="border-radius: 10px;") « Anterior

      if current > 2
        a.w3-button.w3-round-large(href=`/inquiricoes/myInquiricoes?page=1&limit=${limit}&sort=${sort}&localidade=${localidade}`, style="border-radius: 10px;") 1
        if current > 3
          span ...

      each num in [current - 1, current, current + 1]
        if num > 0 && num <= pages
          if num == current
            a.w3-button.w3-blue.w3-round-large(href=`/inquiricoes/myInquiricoes?page=${num}&limit=${limit}&sort=${sort}&localidade=${localidade}`, style="border-radius: 10px;") #{num}
          else
            a.w3-button.w3-round-large(href=`/inquiricoes/myInquiricoes?page=${num}&limit=${limit}&sort=${sort}&localidade=${localidade}`, style="border-radius: 10px;") #{num}

      if current < pages - 1
        if current < pages - 2
          span ...
        a.w3-button.w3-round-large(href=`/inquiricoes/myInquiricoes?page=${pages}&limit=${limit}&sort=${sort}&localidade=${localidade}`, style="border-radius: 10px;") #{pages}

      if current < pages
        a.w3-button.w3-blue.w3-round-large(href=`/inquiricoes/myInquiricoes?page=${parseInt(current) + 1}&limit=${limit}&sort=${sort}&localidade=${localidade}`, style="border-radius: 10px;") Próximo »
      else
        a.w3-button.w3-disabled.w3-round-large(href="#", style="border-radius: 10px;") Próximo »
